td.mat-cell {
  border-bottom-style: none;
}

th.mat-header-cell {
  border-bottom-style: none;
}

button {
  right: 70px;
}

span {
  vertical-align: 30px;
}

.user {
  width: 2000px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: right;
  transform: translate(0px, -20px);
}

.logout {
  width: 2130px;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: right;
  transform: translate(0px, -35px);
}

