td.mat-cell {
  border-bottom-style: none;
}

th.mat-header-cell {
  border-bottom-style: none;
}

button {
  right: 70px;
}

span {
  vertical-align: 30px;
}

.user {
  width: 2000px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: right;
  transform: translate(0px, -20px);
}

.logout {
  width: 2130px;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: right;
  transform: translate(0px, -35px);
}

* {
  box-sizing: border-box;
}

.name {
  background-color: red;
  width: 20%;
}

.url {
  background-color: blue;
}

.status {
  background-color: green;
}

.actions {
  background-color: yellow;
}

.create_website {
  background-color: purple;
}

.navbar2 {
  background-color: aqua;
}

.mat_table {
  background-color: coral;
}

@media only screen and (max-width: 768px) {
.name, .url, .status, .actions {
  width: 100%;
  float: left;
  }
}
