<h2 style="text-align: center"> Register </h2>
<div class="mat-elevation-z8" style="text-align: center" >
  <form (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">
      <mat-label>Username</mat-label>
      <input  matInput [(ngModel)]="user.username" name="username" required type="text">
    </mat-form-field>
    <br>
    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input  matInput [(ngModel)]="user.email" name="email" required type="email">
    </mat-form-field>
    <br>
    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input  matInput [(ngModel)]="user.password" name="password" required type="password">
    </mat-form-field>
    <br>
    <button mat-raised-button class="btn btn-dark" type="submit">Submit</button>
  </form>
</div>
