<div class="mat-elevation-z8" style="text-align: center" >

  <h3> Login </h3>

  <form (ngSubmit)="onSubmit()">
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label style="color: black;">Email</mat-label>
      <input matInput name="username" [(ngModel)]="user.username" required="">
    </mat-form-field>
    <br>
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label style="color: black;">Password</mat-label>
      <input matInput name="password" type="password" [(ngModel)]="user.password" required="">
    </mat-form-field>
    <br>
    <button mat-raised-button class="btn btn-dark" type="submit">Submit</button>
  </form>

</div>
