<nav class = "navbar navbar navbar-expand-sm bg-warning">
  <ul class = "navbar-nav">
    <li class="nav-item">
      <mat-icon routerLink = "/websites" routerLinkActive="active" aria-hidden="false" class = "materials-icons" matTooltip="Go Home" style="cursor: pointer"> home </mat-icon>
      <div class="user"> {{user}}</div>
    </li>
  </ul>
</nav>

<h3 style="text-align: center"> View Website Details </h3>
<div>
  <div style="text-align: center">
    <label> <b> Name: </b> </label> {{website.name}}
  </div>
  <div style="text-align: center">
    <label> <b> URL: </b> </label> {{website.url}}
  </div>
  <div style="text-align: center">
    <label> <b> Active: </b> </label> {{website.active}}
  </div>
</div>
